# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Django
*.sqlite3
media/

# Environment
.env

# Telegram session
*.session
*.session-journal

# macOS
.DS_Store

# IDE
.idea/
.vscode/
